/* Footer styles */
.footer {
    margin-top: 20px;
    border-top: 1px solid #0067A3;
    padding: 20px 30px;
    background-color: #0067A3;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer span {
    margin-bottom: 5px;
    color: white;
    padding-right: 20px;
}
.footer span.copy {
  float: right;
}