 /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #0067A3;
    background-color: #0067A3;
  }
  
  .header h1 {
    font-size: 28px;
    font-weight: normal;
    color: white;
    padding: 0 30px;
  }
  
  .user-menu {
    position: relative;
    cursor: pointer;
  }
  
  .user-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  }
  
  .user-menu:hover .menu {
    display: block;
  }
  
  .menu li {
    list-style: none;
    padding: 5px 0;
    cursor: pointer;
  }
  
  .menu li:hover {
    color: blue;
    text-decoration: underline;
  }