/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    background-color: #0079BF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}